/* Custom scrollbar for lyrics area */
.lyrics-scroll::-webkit-scrollbar {
    width: 8px;
}

.lyrics-scroll::-webkit-scrollbar-track {
    background: #1e1629; 
    border-radius: 4px;
}

.lyrics-scroll::-webkit-scrollbar-thumb {
    background: #2f2348; 
    border-radius: 4px;
}

.lyrics-scroll::-webkit-scrollbar-thumb:hover {
    background: #443267; 
}
